.card {
  width: 368px;
  height: 302px;
  background-color: #f0f0f0;
  border-radius: 24px;
  position: relative;
}

.button {
  position: absolute;
  top: 24px; /* Adjust the top value as needed */
  right: 24px; /* Adjust the right value as needed */
  cursor: pointer;
  width: 120px;
  height: 40px;
  padding: 0px 8px;
  border: 1px solid #030303;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #ffffff;
  color: #030303;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 18px;
}

.cardimg {
  padding: 16px 16px;
}

.name {
  color: #030303;
  font-size: 22px;
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 32px;
  margin: 0%;
  padding: 0 74px 0 16px;
}

.description {
  color: #030303;
  font-size: 14px;
  font-family: 'Montserrat';
  line-height: 22px;
  padding: 0 74px 0 16px;
  margin: 0%;
  margin-bottom: 22px;
}

.low {
  display: flex;
  justify-content: space-between;
  padding: 0 74px 0 16px;
  gap: 120px;
  margin: 0%;
}

.lowleft {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin: 0%;
}
.text1 {
  color: #030303;
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 500;
  line-height: 26px;
  margin: 0%;
}
.text2 {
  color: #030303;
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 500;
  line-height: 26px;
  text-align: right;
  margin: 0%;
}
