.card {
  max-width: 368px;
  max-height: 302px;
  background-color: #f0f0f0;
  border-radius: 24px;
  position: relative;
  padding-bottom: 16px;
  @media screen and (max-width: 430px) {
    width: 80%;
    height: 80%;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    width: 90%;
    height: 90%;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}

.button {
  position: absolute;
  top: 24px; /* Adjust the top value as needed */
  right: 24px; /* Adjust the right value as needed */
  cursor: pointer;
  max-width: 120px;
  width: 100%;
  max-height: 40px;
  height: 100%;
  padding: 0px 8px;
  border: 1px solid #030303;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #ffffff;
  color: #030303;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 18px;
  margin: 0%;
  padding: 0%;
  @media screen and (max-width: 430px) {
    top: 18px;
    right: 14px;
    line-height: 12px;
    width: 70%;
    height: 70%;
    font-size: 12px;
    padding: 0px 4px;
  }
}

.cardimg {
  max-width: 336px;
  max-height: 152px;
  padding: 16px 16px;

  @media screen and (max-width: 430px) {
    width: 90%;
    height: 90%;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    width: 95%;
    height: 95%;
  }
}

.name {
  color: #030303;
  font-size: 22px;
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 32px;
  margin: 0%;
  padding: 0 74px 0 16px;
  @media screen and (max-width: 430px) {
    font-size: 16px;
    line-height: 24px;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    font-size: 18px;
    line-height: 28px;
  }
}

.description {
  color: #030303;
  font-size: 14px;
  font-family: 'Montserrat';
  line-height: 22px;
  padding: 0 74px 0 16px;
  margin: 0%;
  margin-bottom: 22px;
  white-space: nowrap;
  @media screen and (max-width: 430px) {
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 16px;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}

.low {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px; /* Adjust padding as needed */
  margin: 0%;
  @media screen and (max-width: 430px) {
    padding: 0 8px;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    padding: 0 12px;
  }
}

.lowleft {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin: 0%;
}
.text1 {
  color: #030303;
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 500;
  line-height: 26px;
  margin: 0%;
  max-width: 141px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  @media screen and (max-width: 430px) {
    font-size: 12px;
    line-height: 18px;
    width: 100px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    font-size: 16px;
    line-height: 24px;
    width: 120px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
  }
}

.lowright {
  display: flex;
  gap: 0px;
  display: inline-flex;
  align-items: center;
}

.text2 {
  color: #030303;
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 500;
  line-height: 26px;
  margin: 0%;
  max-width: 47px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  @media screen and (max-width: 430px) {
    font-size: 12px;
    line-height: 18px;
    width: 30px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    font-size: 16px;
    line-height: 24px;
    width: 40px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
  }
}

.text3 {
  color: #030303;
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 500;
  line-height: 26px;
  max-width: 35px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  @media screen and (max-width: 430px) {
    font-size: 12px;
    line-height: 18px;
    width: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    font-size: 16px;
    line-height: 24px;
    width: 30px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
  }
}
