.bgimg {
  filter: brightness(50%);
  width: 100%;
}

.text {
  position: absolute;
  top: 269px;
  color: #ffffff;
  font-size: 48px;
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 62px;
  width: 100%;
  max-width: 587px;
  margin: 0%;
  padding-left: 196px;
  @media screen and (max-width: 1128px) {
    top: 140px;
    padding-left: 50px;
    font-size: 30px;
    line-height: 40px;
    width: 60%;
  }
  @media screen and (max-width: 768px) {
    top: 140px;
    padding-left: 50px;
    font-size: 24px;
    line-height: 36px;
    width: 80%;
  }
  @media screen and (max-width: 430px) {
    top: 90px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 20px;
    width: 60%;
  }
}
