.bgimg {
  filter: brightness(50%);
  width: 100%;
}

.text {
  padding-left: 200px;
  position: absolute;
  top: 269px;
  color: #ffffff;
  font-size: 48px;
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 62px;
  width: 100%;
  max-width: 587px;
  margin: 0%;
  @media screen and (max-width: 430px) {
    top: 70px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 30px;
    width: 60%;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    top: 140px;
    padding-left: 50px;
    font-size: 42px;
    line-height: 54px;
    width: 75%;
  }
}
