.bgimg {
  filter: brightness(50%);
  width: 100%;
}

.text {
  padding-left: 200px;
  position: absolute;
  top: 269px;
  color: #ffffff;
  font-size: 48px;
  font-family: 'Montserrat';
  font-weight: 600;
  line-height: 62px;
  width: 100%;
  max-width: 587px;
}
