.nav {
  padding-left: 200px;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100;
  @media screen and (max-width: 430px) {
    padding-left: 0px;
    padding-top: 0px;
    gap: 35vw;
  }
}
.img {
  padding-right: 212px;
  width: 106px;
  @media screen and (max-width: 430px) {
    width: 53px;
    padding-right: 106px;
  }
}
.links {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  font-size: 26px;
  color: #ffffff;
  @media screen and (max-width: 430px) {
    font-size: 12px;
    gap: 20px;
  }
}

.button {
  cursor: pointer;
  width: 150px;
  height: 62px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #5856d6;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 600;
  @media screen and (max-width: 430px) {
    font-size: 12px;
    width: 15vw;
    height: 31px;
  }
}

.burgerbutton {
  display: none;
  @media screen and (max-width: 430px) {
    display: block;
  }
}

/* New styles for responsive menu */
@media screen and (max-width: 430px) {
  .nav {
    padding-left: 0px;
    padding-top: 0px;
  }

  .img {
    padding-right: 106px;
    width: 53px;
  }

  .links {
    font-size: 12px;
    gap: 20px;
    flex-direction: column;
    position: absolute;
    top: 100px; /* Adjust this value based on your layout */
    left: 0;
    right: 0;
    background-color: #5856d6;
    padding: 20px;
    display: none;
  }

  .links.showMenu {
    display: flex;
  }
}
