.nav {
  padding-left: 200px;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100;
}
.img {
  padding-right: 212px;
}
.links {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  font-size: 26px;
  color: #ffffff;
}

.button {
  cursor: pointer;
  width: 150px;
  height: 62px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 24px;
  background-color: #5856d6;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 600;
}
