.section {
  padding-left: 130px;
  padding-top: 50px;
  @media screen and (max-width: 430px) {
    padding-left: 40px;
    padding-top: 10px;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    padding-left: 90px;
    padding-top: 30px;
  }
}

.news {
  display: flex;
  justify-content: space-around;
  padding-left: 75px;
  padding-right: 100px;
  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 60px;
  }
}

.text {
  color: #030303;
  font-size: 32px;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 48px;
  @media screen and (max-width: 430px) {
    font-size: 16px;
    line-height: 24px;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    font-size: 24px;
    line-height: 40px;
  }
}
