.parks {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  align-items: center;
  padding-left: 212px;
  padding-right: 126px;
  @media screen and (max-width: 430px) {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 60px;
    gap: 30px;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    display: flex;
    flex-direction: column;
    padding-left: 180px;
    padding-right: 100px;
    gap: 50px;
  }
}

.h2 {
  color: #030303;
  font-size: 32px;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 48px;
  margin: 0%;
  margin-bottom: 68px;
  @media screen and (max-width: 430px) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: center;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 50px;
    text-align: center;
  }
}
.section {
  padding-left: 180px;
  padding-top: 50px;
  @media screen and (max-width: 430px) {
    padding-left: 30px;
    padding-top: 20px;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    padding-left: 60px;
    padding-top: 40px;
  }
}
