.parkcard {
  display: flex;
  flex-direction: column;
  margin: 0%;
  margin-bottom: 70px;
  @media screen and (max-width: 430px) {
    margin-bottom: 15px;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    margin-bottom: 60px;
  }
}

.low {
  display: flex;
  justify-content: space-between;
}

.img {
  width: 320px;
  height: 200px;
  margin: 0%;
  margin-bottom: 16px;
  @media screen and (max-width: 430px) {
    width: 160px;
    height: 100px;
    margin-bottom: 8px;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    width: 300px;
    height: 187.5px;
    margin-bottom: 12px;
  }
}

.text1 {
  color: #030303;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 22px;
  margin: 0%;
  margin-bottom: 20px;
  @media screen and (max-width: 430px) {
    font-size: 8px;
    line-height: 10px;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }
}

.h2 {
  color: #030303;
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 900;
  line-height: 32px;
  margin: 0%;
  width: 320px;
  height: 64px;
  margin-bottom: 45px;
  @media screen and (max-width: 430px) {
    font-size: 10px;
    line-height: 24px;
    margin-bottom: 20px;
    width: 160px;
    height: 32px;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 40px;
    width: 300px;
    height: 60px;
  }
}

.text2 {
  color: #030303;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 18px;
  margin: 0%;
  @media screen and (max-width: 430px) {
    font-size: 7px;
    line-height: 9px;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    font-size: 12px;
    line-height: 16px;
  }
}
.date {
  color: #030303;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 700;
  line-height: 18px;
  margin: 0%;
  @media screen and (max-width: 430px) {
    font-size: 7px;
    line-height: 9px;
  }
  @media screen and (max-width: 1024px) and (min-width: 431px) {
    font-size: 12px;
    line-height: 16px;
  }
}
